<ion-header>
<ion-toolbar>
  <ion-title>{{selectedPlace?.title}}</ion-title>
  <ion-buttons slot="primary" (click)="onClose()">
    <ion-icon name="close"></ion-icon>

  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-img  [src]="selectedPlace?.imageUrl"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label>{{selectedPlace?.description}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button color="primary" (click)="confirmBooking()">Book</ion-button>
  </ion-item>
</ion-content>
